@model Instructor;

<div>
    Instructor Details
</div>

<table class="table table-dark">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Lastname</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Firstname</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@(Model.IsTenured ? "Permanent" : "Probationary")</td>
    </tr>
    <tr>
        <th>Rank</th>
        <td>@Model.Rank</td>
    </tr>
    <tr>
        <th>Hiring Date</th>
        <td>@Model.HiringDate</td>
    </tr>
    </table>